<!DOCTYPE>
<html>
  <head>
        <title>Alpha Blog</title>
  </head>
  
  <body>
      <header>
        <img id="logo" src="http://blog.undr.com/2010/03/deadtwitter_logo_100.png">
       <div id="name"> <h1>Alpha Blog</h1>
        <h3># twitter who?</h3>
        </div>
        <nav>
          
         <li><%= link_to "HOME", root_path %>
         
         </nav>
      </header>
      
      <article>
        <p class="about_1">Alpha Blog is here to free you from the tweets and twats that plaque your feeds. we offer the same technology without all the corporate TOU no advertisers no tracking cookies or fancy forms of privacy invasion just good old message boards. please enjoy!</p>
       <img class="bird" src="https://warczyk.files.wordpress.com/2010/03/twitter_fail460.jpg">
        <p class="about_2">This is my first go at building a web application using ruby on rails with html. I have been messing with web development for about6 months on and off mainly frontend stuff. HTML, CSS, Javascript then I realized to do what i truly wanted I had to dive deeper and learn backend. I tooled with sql and php and a little python but quickly found rails and decided to give it a try. I started learning because my wife had an online store with etsy and ebay and was doing rather well, then things went bad. Hadissues with etsy's horrible customer service and decided it was time to open our own store. Here we were lost, what to do, do you pay tons of money to someone or do it yourself. I choose the latter. Boy was I in for a surprise, lol! I started with using shopify everything was going good loaded all 6900+ items and started reformatting (no biggie) then started with design. First hurddle hit so to speak, I found that our templete wouldn't work out the box for the "custom" drop down menus. I could do a single drop down but not multiple. So began looking into options. Days later i managed to figure out where and how to edit the code to facilitate multiple drop downs, mission accomplihed (or so I thought). Now my menu looks horrible no collaping and all jumbled on top of each other. So dig and dig where to edit? I found it aftera few hours and managed to get that to work. Thats when I realized I needed Javascript and not just css but SASS. Thank you shopify jk. I finally had all the basics covered then I went into My product listings to edit for inventory tracking, Which is what brought me to were I am today. In shopify you cannot track inventory for products with price breaks, or tiered pricing. They don't even have a option for this to do tiered pricing you have to set up variants which is treated like a different item for tracking. So since liquid is based off of ruby i figured it was time to ride the rails!</p>
      </article>
          
      <footer>
        
        <h3> &copy PerfectoWebCreations 2016</h3>
        <nav>
        <li id= 'right'><%= link_to "HOME", root_path %></li>
        </nav>
      </footer>
  </body>
  
</html>