<!DOCTYPE>
<html>
  <head>
        <title>Alpha Blog</title>
  </head>
  
  <body>
      
      <header>
        <img id="logo" src="http://blog.undr.com/2010/03/deadtwitter_logo_100.png">
       <div id="name"> <h1>Alpha Blog</h1>
        <h3># twitter who?</h3>
        </div>
        <nav>
          
            <li><%= link_to 'About', pages_about_path %></li>
            <li><%= link_to 'Alpha Blog', articles_path %> </li>
         
          </nav>
      </header>
      
      <article>
        <div id = "post_1">
          <div class="heading">
            <img src= "Blackpaw.png" alt= "profile pic">
            <h4>Chris fecteau <hr></h4>
          </div
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin lacinia consequat. Morbi venenatis at mi ac ornare. Sed gravida sapien eu fringilla varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam et placerat mauris. Donec hendrerit quam nec nisl accumsan, ut pulvinar sem scelerisque. Quisque ac eleifend nibh, in eleifend nibh. Donec eu ante accumsan, rhoncus augue sit amet, tristique urna. Phasellus consectetur, dui vitae blandit varius, leo tellus efficitur mauris, nec facilisis arcu nunc sit amet magna. Morbi fringilla eros sodales risus vulputate, sit amet pretium mauris ultricies. Sed quis justo sapien. Nunc eget lectus imperdiet, bibendum turpis vitae, tristique augue.</p>
        </div>
        
        <div id = "post_2">
          <div class="heading">
            <img src= "Blackpaw.png" alt= "profile pic"> 
            <h4> Johnny Bananas <hr></h4>
          </div>
        <p>Vivamus lorem felis, semper eu nibh quis, iaculis rhoncus tortor. Nullam luctus arcu sit amet lorem viverra feugiat. Nam a nunc turpis. Nulla facilisi. Vivamus bibendum, nisl at venenatis iaculis, libero erat rutrum risus, a accumsan neque purus vitae urna. Integer iaculis lectus vitae augue rutrum, non ultricies urna feugiat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc a purus vitae enim vehicula pulvinar. Cras pulvinar nibh ut libero maximus, congue porta nulla finibus. Sed id purus erat. Sed laoreet erat eget dolor aliquet commodo. Donec non enim vitae nibh commodo auctor ut eu lectus. Integer rhoncus urna nulla, quis congue velit scelerisque molestie. Pellentesque tincidunt neque ac ullamcorper viverra. Phasellus feugiat elit quam, sit amet varius arcu commodo non. Donec tincidunt sodales felis, auctor placerat ante hendrerit non.</p>
      </div>
      </article>
      
      <footer>
       
        <h3>&copy PerfectoWebCreations 2016</h3>
        <nav>
        <li id= 'right'><%= link_to 'ABOUT', pages_about_path %></li>
        </nav>       
      </footer>
  </body>
  
</html>