<div class="container">
 <footer class="footer">
   <small>&copy <a href="#">PerfectoWebCreations</a> 2016</small>
   <nav>
    <ul>
    <li id= 'right' class= "link"><%= link_to 'About', pages_about_path, class: "hyper" %></li>
    </ul>   
   </nav>       
 </footer>
</div> 